<h3>PatientProvider</h3>
@page "/patient/patientprovider/{PatientID:int}/{FirstName}/{LastName}"

<h3>@FirstName @LastName Provider List</h3>
@if (providers == null)
{
    <p><em>Loading...</em></p>
}
else if (!providers.Any())
{
    <p>No providers found for this patient.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in providers)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Specialization</td>
                </tr>
            }
        </tbody>
    </table>
}